@import "tailwindcss";

@theme {
  --color-red: #CA0100;
  --color-red-100: #d90022;
  --color-black: #262626;
  --color-black-100: #595d60;
  --color-gray: #737373;
  --color-gray-100: #adadb0;
  --color-gray-200: #c2c2c4;
  --color-gray-300: #e1e1e1;
  --color-gray-400: #eff0f0;

  --font-roboto: "Roboto";
}

h1 {
  font-weight: 700;
  font-size: var(--text-6xl);
  color: var(--color-black);
  line-height: 70.31px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.88px;
  color: var(--color-black);
}

body {
  font: var(--font-roboto);
}

button {
  @apply rounded-[6px] flex justify-center items-center cursor-pointer;
}